@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: Montserrat;
}

html {
  scroll-behavior: smooth;
}
.bg-custom-gradient {
  background:linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}


